name: Deploy Lambda

on:
  push:
    branches:
      - main
      - development

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm install

    # - name: serverless create_domain
    #   uses: serverless/github-action@master
    #   with:
    #     args: create_domain --app test 
    #   env:
    #     SLS_DEBUG: 1
    #     SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}

    - name: serverless deploy
      uses: serverless/github-action@master
      with:
        args: deploy --app test 
      env:
        SLS_DEBUG: 1
        SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}

